<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>회원가입</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>

    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="py-5 text-center">
            <h2>회원 가입</h2>
        </div>
        <h4 class="mb-3">회원 정보 입력</h4>
        <form th:action th:object="${member}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p>
            </div>
            <div>
                <label for="userId">로그인 ID</label>
                <input type="text" id="userId" th:field="*{userId}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{userId}" />
            </div>
            <div>
                <label for="userPw">비밀번호</label>
                <input type="password" id="userPw" th:field="*{userPw}"
                       class="form-control" readonly
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{userPw}" />
            </div>
            <div>
                <label for="name">이름</label>
                <input type="text" id="name" th:field="*{name}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{name}" />
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" th:field="*{email}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{email}" />
            </div>
            <div>
                <label for="age">나이</label>
                <input type="text" id="age" th:field="*{age}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{age}" />
            </div>

            <hr class="my-4">

            <div>
                <button class="w-100 btn btn-primary btn-lg"
                        th:onclick="findPostCode()"
                        onclick="findPostCode()" type="button">주소 확인</button>
            </div>
            <div>
                <label for="zipcode">우편번호</label>
                <input type="text" id="zipcode" th:field="*{address.zipcode}" class="form-control"
                       th:errorclass="field-error" readonly >
                <div class="field-error" th:errors="*{address.zipcode}" />
            </div>
            <div>
                <label for="roadAddr">도로명 주소</label>
                <input type="text" id="roadAddr" th:field="*{address.roadAddr}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{address.roadAddr}" />
            </div>
            <div>
                <label for="addrDetail">상세주소</label>
                <input type="text" id="addrDetail" th:field="*{address.addrDetail}" class="form-control"
                       th:errorclass="field-error" placeholder="상세주소를 작성해주세요.">
                <div class="field-error" th:errors="*{address.addrDetail}" />
            </div>
            <div>
                <label for="adEtc">기타</label>
                <input type="text" id="adEtc" th:field="*{address.adEtc}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{address.adEtc}" />
            </div>

            <script th:inline="javascript">
                function findPostCode() {
                    new daum.Postcode({
                        oncomplete : function(data) {
                            var roadAddr = data.roadAddress; // 도로명 주소 변수
                            var extraRoadAddr = ''; // 참고 항목 변수

                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraRoadAddr += data.bname;
                            }
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraRoadAddr += (extraRoadAddr !== '' ? ', '
                                        + data.buildingName : data.buildingName);
                            }
                            if (extraRoadAddr !== '') {
                                extraRoadAddr = ' (' + extraRoadAddr + ')';
                            }

                            document.getElementById('zipcode').value = data.zonecode;
                            document.getElementById('roadAddr').value = roadAddr;
                            document.getElementById('addrDetail').focus();

                            if (roadAddr !== '') {
                                document.getElementById("adEtc").value = extraRoadAddr;
                            } else {
                                document.getElementById("adEtc").value = '';
                            }
                        }
                    }).open();
                }
            </script>

            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">회원 정보 수정</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='../home.html'"
                            th:onclick="|location.href='@{|/members/${member.id}|}'|"
                            type="button">취소</button>
                </div>
            </div>
        </form>
    </div> <!-- /container -->
</body>
</html>