<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>게시글</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <div class="py-5 text-center">
            <h2 >게시글</h2>
        </div>

        <div>
            <label for="postId" >게시글 ID</label>
            <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${article.id}" readonly>
        </div>
        <div>
            <label for="title" >게시글명</label>
            <input type="text" id="title" name="title" class="form-control" value="상품A" th:value="${article.title}" readonly>
        </div>
        <div>
            <label for="content">게시글 내용</label>
            <input type="text" id="content" name="content" class="form-control" value="10000" th:value="${article.content}" readonly>
        </div>
        <div>
            <label for="userId" >게시글 작성자</label>
            <input type="text" id="userId" name="userId" class="form-control" value="10" th:value="${article.userId}" readonly>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button th:if="${article.userId} == ${member.userId} "
                        class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='editPost.html'"
                        th:onclick="|location.href='@{/boards/form(id=${article.id})}'|"
                        type="button" >게시글 수정</button>
            </div>
            <div class="col">
                <button th:if="${article.userId} == ${member.userId} "
                        class="w-100 btn btn-primary btn-lg"
                        th:onclick="|deletePost(*{article.id})|"
                        type="button" >게시글 삭제</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='list.html'"
                        th:onclick="|location.href='@{/boards/list}'|"
                        type="button" >게시글 목록으로</button>
            </div>
        </div>

        <hr class="my-4">

        <div>
            <img th:if="${likeCheck} == true"
                 id="unlikeImg" alt="unlike"
                 src="/images/unlike.png"
                 th:src="@{/images/unlike.png}" width="40" height="40"
                 th:onclick="|likes(*{article.id})|">

            <img th:if="${likeCheck} == false"
                 id="likeImg" alt="like"
                 src="/images/like.png"
                 th:src="@{/images/like.png}" width="40" height="40"
                 th:onclick="|unlikes(*{article.id})|">
        </div>

        <hr class="my-4">

        <table class="table" >
            <thead>
                <tr>
                    <th >댓글 내용</th>
                    <th >작성자</th>
                    <th >작성일</th>
                    <th >수정/삭제</th>
                    <th >대댓글</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cmt : ${cmts}">
                    <td th:text="${cmt.cmtContent}">내용</td>
                    <td th:text="${cmt.userId}">작성자</td>
                    <td th:text="${#temporals.format(cmt.modifiedDate,'yyyy-MM-dd HH:mm')}">수정일</td>
                    <td >
                        <button id="cmtEditBtn" type="button"
                                th:if="${cmt.userId} == ${member.userId} "
                                class="w-100 btn btn-primary btn-lg"
                                onclick="location.href='editPost.html'"
                                th:onclick="|location.href='@{|/comments/${cmt.cmtId}|}'|">수정</button>
                        <button id="cmtDeleteBtn" type="button"
                                th:if="${cmt.userId} == ${member.userId} "
                                class="w-100 btn btn-secondary btn-lg"
                                onclick="location.href='editPost.html'"
                                th:onclick="|deleteCmt(*{cmt.cmtId})|">삭제</button>
                    </td>
                    <td >
                        <button class="w-100 btn btn-primary btn-lg"
                                onclick="location.href='comment_reply.html'"
                                th:onclick="|location.href='@{|/comments/reply/${cmt.cmtId}|}'|"
                                type="button" >대댓글</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="input-group mb-3">
            <input type="text" id="cmtContent" name="cmtContent" class="form-control" placeholder="댓글을 입력해주세요">
            <button class="btn btn-light mb-2" type="button"
                    th:onclick="|writeCmt(*{article.id})|">댓글 작성</button>
        </div>

        <footer th:replace="fragments/header :: footer"></footer>
        <script th:src="@{/js/postsJS.js}"></script>

    </div> <!-- /container -->
</body>
</html>